@font-face {
    src : url(fonts/Roboto-Regular.ttf);
    font-family: Roboto;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  height: 100%;
  background-color: #F4F4F4;
}
#root {
  height: 100%;
}
.streams-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
